[Desktop Entry]
Name=LAMW4Linux Terminal
Comment=A Terminal with LAMW environment, here you can run FPC command line tools, Lazarus and LAMW scripts
GenericName=LAMW4Linux Terminal
Exec=$ROOT_LAMW/lamw4linux-terminal
Icon=org.gnome.Terminal
Terminal=true
Type=Application
Categories=Development;IDE;
